@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Sniglet&display=swap");

:root {
  --primary-color: #fa6a66;
  --secondary-color: #efe5e5;
  --primary-light-color: #f48d90;
  --gray-color: #c7c2c3;
  --gray-light-color: #d9d9d9;
  --gray-dark-color: #b7b5b5;
  --black-light-color: #545454;
  --header-height: 75px;
  --footer-height: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: var(--black-light-color);
  background-color: var(--secondary-color);
}

main {
  min-height: calc(100vh - 2 * var(--header-height) - 2 * var(--footer-height));
}

a {
  text-decoration: none;
  color: var(--black-light-color);
}
/* Utilities classes */
.font-sniglet {
  font-family: "Sniglet", cursive !important;
}

.btn {
  font-family: "Sniglet", cursive;
  background-color: var(--gray-light-color);
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: var(--gray-dark-color);
}

.btn i {
  margin-right: 10px;
}

.box-gray {
  background-color: var(--gray-light-color);
  margin: 40px auto;
  padding: 30px 40px;
  text-align: center;
}

/* Header */
header {
  height: var(--header-height);
  background-color: var(--primary-color);
  margin-bottom: var(--header-height);
}

.navbar {
  height: 100%;
  padding: 0 15px;
}

.navbar ul {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 250px;
}

.navbar ul li a {
  font-family: "Sniglet", cursive;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li.active a {
  color: var(--secondary-color);
}

.navbar__logo--web {
  display: flex;
}

.navbar__logo--mobile {
  display: none;
}

.navbar__logo img {
  width: 120px;
  position: absolute;
  z-index: 1;
  top: 15px;
}

.navbar__logo,
.navbar__left,
.navbar__right {
  width: 20%;
}

.navbar__donate-btn {
  position: absolute;
  right: 70px;
}

/* Banner */
.banner {
  margin-top: -60px;
}

/* Shop section */
.shop {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.shop article {
  width: 75%;
  margin: auto;
  border: none;
}

.shop article:hover {
  background-color: var(--gray-dark-color);
  transform: scale(1.05);
  transition: 0.4s;
}

.shop article h5 {
  text-transform: uppercase;
}
.shop article a {
  background-color: var(--black-light-color);
  color: var(--gray-light-color);
}

.shop article a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Fairs section */
.fairs {
  background-color: var(--gray-light-color);
  padding: 3rem;
}

.fairs__img {
  display: flex;
  justify-content: center;
}

.fairs__img img {
  width: 70%;
}

.fairs__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 4rem;
}

/* Before-After section */
.bef-aft {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
}

.bef-aft__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* About Us page */
.about-us {
  padding-top: 2rem;
}

.about-us__text {
  text-align: center;
  padding-right: 5rem;
}

.about-us__text h2 {
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

.about-us__video {
  background-color: var(--gray-dark-color);
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 10px;
}

.about-us__video iframe {
  width: 100%;
  height: 100%;
}

/* Help page */
.help {
  padding: 20px 20px;
}

.help__title {
  text-align: center;
  margin: auto;
  line-height: 1.7;
  width: 70%;
}

.help__title h2 {
  font-family: "Sniglet", cursive !important;
  text-align: center;
}

.help-article {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px 0;
}

.help-article__img {
  width: 40%;
  background-color: var(--gray-dark-color);
  padding: 30px;
  border-radius: 10px;
}

.help-article img {
  width: 100%;
}

.help-article__icons {
  color: var(--primary-light-color);
  font-size: 70px;
  margin-bottom: 15px;
}

.help-article__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0 100px;
  line-height: 1.7;
}

.help-article__text a {
  margin-top: 20px;
}

.btn article div a {
  display: flex;
  align-items: end;
}
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  padding: 0 50px;
  margin-top: var(--footer-height);
  background-color: var(--primary-color);
}

footer .footer__logo {
  width: 25%;
}

footer .footer__logo a {
  display: flex;
  margin-top: -70px;
  width: fit-content;
}

footer .footer__logo a img {
  width: 120px;
}

footer .footer__social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

footer .footer__social-media-links .social-media-link:not(:last-child) {
  margin-right: 10px;
}

footer .social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  padding: 20px;
  border: 3px solid var(--black-light-color);
  border-radius: 50px;
  color: var(--black-light-color);
}

footer .social-media-link--email {
  display: none;
}

footer .footer__email {
  width: 25%;
  text-align: end;
}

footer .footer__email a {
  font-size: 20px;
  width: fit-content;
  text-align: right;
}

/* Applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  html {
    font-size: 85%;
  }

  /* Navbar */
  .navbar {
    padding: 0;
    z-index: 10;
  }

  .navbar-toggler {
    border: none;
    color: var(--black-light-color);
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar__links {
    position: absolute;
    top: calc(var(--header-height) - 1px);
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
  }

  .navbar__links ul {
    padding: 0;
    text-align: center;
  }

  .navbar__links ul li {
    margin: 0.5rem 0;
    width: 100%;
  }

  .navbar__links ul li:first-child {
    margin-top: 1rem;
  }

  .navbar__links ul li:last-child {
    margin-bottom: 1rem;
  }

  .navbar__logo--web {
    display: none;
  }

  .navbar__logo--mobile {
    display: flex;
  }

  .navbar__donate-btn {
    right: 90px;
  }

  /* Shop section */
  .shop {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .shop article {
    width: 100%;
  }

  /* Fairs section */
  .fairs__img img {
    width: 50%;
  }

  .fairs__text {
    padding-right: 0;
  }

  /* About Us page */
  .about-us {
    padding: 0 2rem;
  }

  .about-us__text {
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .about-us__video {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 0;
  }

  .about-us__video iframe {
    height: 25vh;
  }

  /* Help page */
  .help {
    padding: 0 15px;
  }

  .help-article {
    background-color: var(--gray-light-color);
    margin: 60px 80px;
    padding: 40px 40px;
    border-radius: 30px;
  }

  .help-article__img {
    display: none;
  }

  .help-article__text {
    padding: 0 30px;
    width: 100%;
  }

  .help-article__text h4 {
    font-weight: bold;
    padding: 15px 10px;
  }

  .help-article__text a.btn {
    background-color: var(--primary-light-color);
  }
  /* Footer */
  footer {
    justify-content: space-between;
  }

  footer .footer__social-media-links {
    justify-content: end;
  }

  footer .social-media-link--email {
    display: flex;
  }

  footer .footer__email {
    display: none;
  }

  footer {
    justify-content: center;
  }

  footer .footer__logo {
    display: none;
  }

  footer .footer__social-media-links {
    justify-content: center;
  }
}

/* Applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    /* Sumar al min height el margin top negativo que le estamos dando */
    min-height: calc(
      100vh - 2 * var(--header-height) - 2 * var(--footer-height) +
        var(--header-height) / 2
    );
    margin-top: calc(var(--header-height) / 2 * -1);
  }

  /* Navbar */
  .navbar__logo img {
    top: 5px;
    width: 65px;
  }

  .navbar__donate-btn {
    padding: 0.5rem 1rem;
    right: 65px;
  }

  .navbar__donate-btn i {
    margin-right: 0;
  }

  .navbar__donate-btn span {
    display: none;
  }

  /* Shop section */
  .shop article {
    width: 90%;
    margin-bottom: 2rem;
  }

  /* Before-After section */
  .bef-aft__text i {
    transform: rotate(90deg);
  }

  /* Help page */
  .help-article {
    padding: 25px 15px;
    margin: 15px 5px;
  }

  .help-article__text {
    padding: 0 10px;
  }

  .help-article__icons {
    font-size: 50px;
  }
}
