.not-found {
  display: flex;
  &__img {
    width: 40%;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  @include responsive(tablet) {
    flex-direction: column-reverse;

    &__img {
      width: 100%;
    }
    &__text {
      padding: 0 2rem;
    }
  }
}
