header {
  height: $header-height;
  background-color: $primary-color;
  margin-bottom: $header-height;

  .navbar {
    height: 100%;
    padding: 0 15px;

    ul {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0 250px;

      li a {
        font-family: "Sniglet", cursive;
        text-decoration: none;
        text-transform: uppercase;
      }

      li.active a {
        color: $secondary-color;
      }
    }

    &__logo {
      &--web {
        display: flex;
      }

      &--mobile {
        display: none;
      }

      img {
        width: 120px;
        position: absolute;
        z-index: 1;
        top: 15px;
      }
    }

    &__logo,
    &__left,
    &__right {
      width: 20%;
    }

    &__donate-btn {
      position: absolute;
      right: 70px;
    }

    @include responsive(tablet) {
      padding: 0;
      z-index: 10;

      &-toggler {
        border: none;
        color: $black-light-color;

        &:focus {
          box-shadow: none;
        }
      }

      &__links {
        position: absolute;
        top: calc($header-height - 1px);
        left: 0;
        background-color: $primary-color;
        width: 100%;
        ul {
          padding: 0;
          text-align: center;
          li {
            margin: 0.5rem 0;
            width: 100%;
            &:first-child {
              margin-top: 1rem;
            }

            &:last-child {
              margin-bottom: 1rem;
            }
          }
        }
      }

      &__logo {
        &--web {
          display: none;
        }

        &--mobile {
          display: flex;
        }
      }

      &__donate-btn {
        right: 90px;
      }
    }
    @include responsive(phone) {
      &__logo img {
        top: 5px;
        width: 65px;
      }

      &__donate-btn {
        padding: 0.5rem 1rem;
        right: 65px;

        i {
          margin-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}
