$primary-color: #fa6a66;
$secondary-color: #efe5e5;
$primary-light-color: #f48d90;
$gray-color: #c7c2c3;
$gray-light-color: #d9d9d9;
$gray-dark-color: #b7b5b5;
$black-light-color: #545454;
$header-height: 75px;
$footer-height: 70px;
